body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("images.png");
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat; 
  position: relative;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Set background color with alpha channel for transparency */
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the last value (0.7) to control transparency */
}

.form-container {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hospital-info {
  background-color: #f9f9f9;
  padding: 20px;
}
